.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../public/bg.jpg);
  z-index: 10;
  position: relative;
}
/*
.container:after {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 80%;
  content: "";
  position: absolute;
  z-index: -1;
}
*/

.main {
  background-color: transparent;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
